<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayBack</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'app/index.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>PayBack</h1>
        </div>
        <p>When using applications that help you share bills, I started to wonder the algorithms used to optimize the problem. I thought it would be a nice brain-teaser to figure it out and so I took my shot at the case.</p>
        <p>Originally, I created a CLI app to just test the designed algorithms but ended up turning it into a web application for demonstration purposes. Here it is. Still lacks a proper UI, though.</p>
        <p>Just fill in all the purchases you did. You will be provided an optimal way for paying back the debts.</p>
        <p>Syntax: <mark>Buyer;Total amount of the purchase;Participants separated with commas</mark> (buyer automatically participates in the purchase)</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <textarea id="transactions" class="form-control" rows="15">
Jack;15;Jill,Paul
Jill;20;Paul,Simon,Emma
Paul;20;Simon,Jack,Jill
</textarea>
                </div>
                <div class="form-group">
                    <p><button id="solve" class="btn btn-success">Optimize</button></p>
                </div>
            </div>
            <div class="col-md-6">
                <p><b>Results:</b></p>
                <p id="results"></p>
            </div>
        </div>
    </div>
</body>
</html>