<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>PayBack</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'app/index.js' %}"></script>
    <style>
        div {
            padding-top:10px;
        }
    </style>
</head>
<body>
    <textarea id="transactions" rows="20" cols="50">
Jack;10;Jill,Paul
Jill;15;Paul,Simon,Eddy
Paul;20;Simon,Jack,Jill
</textarea>
    <div><button id="solve">Solve debts</button></div>
    <div>Results:</div>
    <div id="results"></div>
</body>
</html>